body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Define la animación */
@keyframes moverLetras {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0);
    }
}

h1 {
    color: #333;
    text-align: center;
    animation: moverLetras 2s ease infinite; 
}

.txt {
    text-align: center;
    margin: 20px;
}

.List {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fffefe;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 4s ease;
}


@keyframes fadeIn {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1; 
    }
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: #6124d1;
    color: #fcfbfb;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #dd0ad3;
}

#resultadoContainer {
    margin-top: 20px;
    border: 1px solid #ffffff;
    padding: 10px;
}

#resultadoIMC {
    font-weight: bold;
}